* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c6c6c6;
}
h1 {
font-size: 48px;
line-height: 58px;
font-weight: 700;
}
h2 {
font-size: 36px;
line-height: 46px;
font-weight: 500;
}

h3 {
font-size: 24px;
line-height: 32px;
}

p,
a, 
input,
select,
button,
li, {
    font-size: 16px;
    line-height: 21px;
}

nav {
    width: 100%;
    border-bottom: 1px solid #888;
}

.main-menu{
    max-width: 1280px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.links {
    display: flex;
    gap: 20px;
}
.main-menu a {
    color: darkgray;
    text-decoration: none;
    transition: all ease 0.2s;
}
.main-menu a:hover {
    color: rgb(39, 39, 39);
    text-decoration: underline;
    transition: all ease 0.4s;
}
.main {
    position: absolute;
    left: 5vw;
}
.rounded-square {
    width: 172px;        
    height: 53px;        
    border-radius: 20px;  
    border: 3px solid #000000; 
    position: absolute;
    left: 7vw;
    top: 40vw;
  }
.about {
    color: darkgray;
    text-decoration: none;
    transition: all ease 0.2s; 
    position: absolute;
    left: 10vw;
    top: 41vw;
}
.about:hover {
    color: rgb(39, 39, 39);
    text-decoration: underline;
    transition: all ease 0.4s;
}